html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(37,37,37);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  display: grid;
  grid-template: 40px 120px 400px 10px / repeat(3, minmax(90px, 1fr));
  min-height: 100%;
  margin: 10px 50px;
}

.logo {
  grid-row: 1;
  grid-column: 1/2;
  font-size: 25px;
  width: 200px;
}

.logo a {
    color: white;
    text-decoration: none;
}

nav {
  grid-row: 1;
  grid-column: 2/-1;
  text-align: right;
}

.menu a {
  color: grey;
  clear: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  color: red;
}

.menu a.active {
  color: red;
}

label {
  font-size: 26px;  
  display: none;
  width: 26px;
}

#toggle {
  display: none;
}

header {
  grid-row: 2;
  grid-column: 1/-1;
  text-align: centre;
}

.link {
  color: red;
}

header img {
  padding-top: 10px;
  margin: 0 auto;
  float: right;
}

main {
  min-height: 100%;
  grid-row: 3;
  grid-column: 1/-1;
  margin-top: 1em;
}

.boxes_text-wrapper h2, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.boxes > * {
  padding: .5rem;
  background-color: #333;
  color: white;
}

.boxes {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.boxes li {
  display: flex;
  align-items: flex-end;
}

.left {
  background-image: 
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),
    url('img/rebel_base.jpg');
  background-size: cover;
}

.center {
  background-image: 
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),
    url('img/death_star.png');
  background-size: cover;
}

.right {
  background-image: 
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),
    url('img/darth_vader.jpg');
  background-size: cover;
}

footer {
  grid-row: 4;
  grid-column: 1/-1;
  margin: 0 auto;
  margin-top: 2em;
  font-size: smaller;
} 

@media only screen and (max-width: 525px) {
  body {
    grid-template: repeat(4, min-content) / minmax(300px, auto) 26px;

  }
  
  .boxes {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 300px);
  }
  
  label {
    display: flex;
    flex: auto;
    cursor: pointer;
  }
  
  .menu {
    text-align: center;
    grid-row: 2;
    grid-column: 1 / -1;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid white;
    margin: 0;
  }

  #toggle:checked + .menu {
    display: block;
  }
}